@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Lato&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}


/*Navigator */


nav{
    font-family: 'Lato', sans-serif;
    position: sticky;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;    
    background-color: rgb(5, 73, 73);
    height: 60px;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

nav ul li:hover{
    transition: all ease-in-out 0.8s;
    transform: scale(1.2);
    color: aquamarine;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: 800;
}

.brand img{
    height: 45px;
    border-radius: 50%;
    padding: 0 10px;
}


.search { 
    position: absolute; 
    margin: 0 200px 10px 450px;
    margin-left: 550px;
    margin-bottom: 20px; 
    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: column;
   
} 
  
.search i{ 
    position: relative; 
    padding: 5px 20px 10px 0px;
    left: 15px; 
    top: 40px; 
    color: gray; 
    width:10%;
} 

 .search input{
    padding-left: 40px;
    width: 90%;
    height: 40px;
    color: black;
 }


nav ul .user{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70vw;
}
/* Player Home Screen */


.container{
    height: 80vh;
    display: flex;
    width: 70vw;
    background-color: gray;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Lato';
}

/* Music Player Bar */

.player{
    position: sticky;
    height: 80px;
    bottom: 0;
    background-color: black;
    color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}


#songProgress{
    width: 50%;
    top: 10px;
    cursor: grab;
}


.icons{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.icons i{
    cursor: pointer;
    margin: 0 10px;
}


/*  Volume Controls */

.volume{
    display: flex;
    width: 20%;
    min-width: 115px;
    justify-content: space-around;
    align-items: center;
}

.volume-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#volumeControl{
    width: 75%;
    cursor: grab;
}
